
.home__formControl {
  display: flex !important;
  flex-direction: row !important;
 }
 .home__input {
  flex: 1;
  width: 75vw;
  color:rgb(250, 225, 225) !important;
  background-color: #fff !important;
  font-family: "Ephesis", cursive;


  
}
.home__iconbutton {
  flex: 0;
  padding: 0;
  background-color: #3282B8 !important;
  border-radius: 0;


}
