.login {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:290px;
    width: 550px;
    transition: all 3s ease-in;
  }
.login__left{
    flex: 0.4;
    
   }
.login__left > img
{   
    height: 100%;
    width: 200px;
    transform: translate(0,-10%);

    
    

}
.login__right{
    flex: 0.6;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    justify-content: flex-start;
}
.login__header{
    display: flex;
    justify-content: space-between;
}
.login__header > h2{
    color:#3282B8;
}
.login__header > h1{
    color: gray;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

.login__form{
    display: flex;
    flex-direction: column;
    

}

.login__form > input {
    width: 300px;
    color: gray;
    border: 1px solid #3282B8;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.login__form > input :focus{
    border: 1px solid #3282B8;

}
.login__form > button {
    width: 322px;
    background-color: #3282B8;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color:#fff;
    cursor: pointer;
}
.login__form > p {
    font-size: 13px;
    color: gray;
    text-align: center;
}
.login__form > p > span {
    color:#3282B8 !important; 
}
