@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body {
  margin: 0;
  font-family: "Ephesis", cursive;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace ,
}
